.App-header {
  background-color: #282c34;
  min-height: 10vh;
  text-align: center;
}

.App {
    text-align: center;
    height: 100%;
}
  


.mainTable{
    width : 100%;
    height: 1300px;
}

.leftBox{
    background-color:"red"
}

.leftBox{
    background-color:"red"
}

