.App-header {
  display: flex;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.15);
  min-height: 10vh;
  text-align: center;
  justify-content: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button:focus,
p:focus {
  outline: none;
}


.App {
    text-align: center;
    height: 100%;
}


.mainTable{
    width : 100%;
    height: 720px;
}

#title {
  margin: auto;
  color: white;
}

.leftBox{
    background-color:"red"
}

.leftBox{
    background-color:"red"
}

