.App-header-light {
  display: flex;
  /*background-color: rgba(255, 255, 255, 0.15);*/
  background-color: #7bc2e0;
  min-height: 10vh;
  text-align: center;
  justify-content: center;
  font-size: 1.3em;
}

.App-header-dark {
  display: flex;
  /*background-color: rgba(255, 255, 255, 0.15);*/
  background-color: #092f3f;
  min-height: 10vh;
  text-align: center;
  justify-content: center;
  font-size: 1.3em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

*:focus {
  outline: none;
}

.App {
  text-align: center;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

#title {
  margin: auto;
  color: white;
  font-size: min(5vw, 2em);
}