@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

/*
.App-link {
  color: #61dafb;
}
*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#wholeAssApp {
  min-height: 100vh;
  height: 100%;
}

.light {
  background: linear-gradient(
      358.94deg,
      #8fca8d 0.85%,
      rgba(214, 244, 214, 0) 78.59%
    ),
    linear-gradient(180deg, #80d1f3 99.99%, rgba(255, 255, 255, 0) 100%),
    #ffffff;
}

.dark {
  background: linear-gradient(
      358.94deg,
      #74a373 0.85%,
      rgba(24, 68, 23, 0) 64.78%
    ),
    linear-gradient(180deg, #092f3f 99.99%, rgba(255, 255, 255, 0) 100%),
    #092f3f;
}
